#background-video {
  /*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  margin: 0 auto;
  z-index: 0.5;
}

.landing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  align-content: center;
}

.dark-overlay-landing {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6f2232;
  opacity: 0.3;
  z-index: 0.81;
}

.container-landing {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 50%;
  height: 500px;
  z-index: 1;
  align-self: center;
}
